form {
  margin: 20px;
}

label {
  font-size: 20px;
  display: block;
}

input {
  margin: 10px;
}
span {
  color: red;
}
button {
  margin-top: 50px;
  padding: 15px 50px;
  font-size: 20px;
}
h2 {
  color: lightseagreen;
  margin-top: 50px;
  padding: 15px 50px;
  font-size: 20px;
}
